
/* Global settings */
*, *::before, *::after {
    padding: 0;
    margin: 0;
}
:root {
    --color-secondary: #e65100;
    --text-color-primary: #212121;
    --text-color-secondary: #616161;
    --text-color-tertiary: #ffffff;
    --font-primary: 1.5rem;
    --font-heading: 2.5rem;
    --font-links: 1.3rem;
    --bg-color--dark:#000000; 
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/*utilites*/

a:link, a:visited {
    text-decoration: none;
    color: var(--text-color-tertiary);
}

/*header section*/

.header {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--bg-color--dark);
}
.header__brand {
    font-size: var(--font-heading);
    color: var(--text-color-tertiary);
}
.color-orange {
   color: var(--color-secondary);
   margin-left: 0;
}
.header__links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: var(--font-primary);
    color: var(--text-color-tertiary);
}
.header__link {
    list-style: none;
    font-size: var(--font-links);
    text-transform: uppercase;
    font-weight: 500;
}
.header__link:hover {
    color: var(--color-secondary);
}
.header__link:not(last-child) {
    margin-right: 2rem;
}
.input {
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 2px;
}
.input:focus {
    outline: none;
}
.btn {
    border: none;
    border-radius: 1px;
}
.btn-search {
    padding: 0.8rem 4rem;
    background-color: var(--color-secondary);
    color: var(--text-color-tertiary);
    font-size: var(--font-links);
}

/*carousel section*/

.carousel {
    position: relative;
}
.carousel__img {
    width: 100%;
    height: auto;
}