
/* Global settings */
*, *::before, *::after {
    padding: 0;
    margin: 0;
}
:root {
    --color-secondary: #e65100;
    --text-color-primary: #212121;
    --text-color-secondary: #616161;
    --text-color-faint: #bdbdbd;
    --text-color-tertiary: #ffffff;
    --font-primary: 1.5rem;
    --font-heading: 2.5rem;
    --font-links: 1.3rem;
    --bg-color--dark:#000000; 
    --bg-color--white: #ffffff;
    --bg-color--grey: #e0e0e0;
    --img-border: 2px solid #e65100;
    --line-height:2; 
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--bg-color--white);
}

/*utilites*/

a:link, a:visited {
    text-decoration: none;
    color: var(--text-color-tertiary);
}
.btn {
    border: none;
    border-radius: 1px;
}
.btn-primary {
    padding: 1rem 5rem;
    background-color: var(--bg-color--dark);
    color: var(--text-color-tertiary);
    border-radius: 1px;
    font-size: var(--font-primary);
    text-transform: uppercase;
}
.underline {
    display: block;
    height: 2px;
    background-color: var(--color-secondary);
}
.underline--short {
    width: 8rem;
    margin-top: 2rem;
    margin-bottom: 0.2rem;
}
.underline--long {
    width: 16rem;
}
.heading {
    font-size: var(--font-heading);
    text-align: center;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;
    letter-spacing: 1rem;
}
.text-center {
    text-align: center !important;
}
.color-white {
    color: var(--text-color-tertiary);
}

/*header section*/

.header {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--bg-color--dark);
}
.header__brand {
    font-size: var(--font-heading);
    color: var(--text-color-tertiary);
}
.color-orange {
   color: var(--color-secondary);
   margin-left: 0;
}
.header__links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: var(--font-primary);
    color: var(--text-color-tertiary);
}
.header__link {
    list-style: none;
    font-size: var(--font-links);
    text-transform: uppercase;
    font-weight: 500;
}
.header__link:hover {
    color: var(--color-secondary);
}
.header__link:not(last-child) {
    margin-right: 2rem;
}
.input {
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 2px;
}
.input:focus {
    outline: none;
}
.btn-search {
    padding: 0.8rem 4rem;
    background-color: var(--color-secondary);
    color: var(--text-color-tertiary);
    font-size: var(--font-links);
}

/*carousel section*/

.carousel {
    position: relative;
}
.carousel__img {
    width: 100%;
    height: auto;
}
.carousel__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.carousel__text--primary {
    font-size: 3rem;
    font-weight: 600;
    color: var(--color-secondary);
    text-align: center;
    letter-spacing: 1rem;
    text-transform: uppercase;
}
.carousel__text--secondary {
    font-size: 4rem;
    color: var(--text-color-tertiary);
    letter-spacing: 1rem;
    text-transform: uppercase;
    margin: 4.5rem 0;
}
.carousel__text--tertiary {
    font-size: var(--font-primary);
    color: var(--text-color-tertiary);
    text-align: center;
    margin: 0 2rem;
}
.special {
    padding: 4rem 2rem;
    background-color: var(--color-secondary);
}
.control {
    position: absolute;
    width: 5rem;
    height: 5rem;
    top: 50%;
    transform: translateY(-50%);
    color: var(--text-color-tertiary);
}
.carousel__controls-left {
    left: 2rem;
}
.carousel__controls-right {
    right: 2rem;
}
.carousel__indicators {
    position: absolute;
    bottom: 2rem;
    left: 50%;
}
.indicator {
    display: inline-flex;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: #f5f5f5;
    margin-right: 0.4rem;
}

/* Reason section */

.reason {
    background-color: var(--bg-color--white);
    padding: 8rem 10rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 5rem;
}
.reason__images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.reason__images--big {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
    border: var(--img-border);
}
.reason__images--row {
    display: flex;
    align-items: center;
    width: 100%;
}
.reason__images--item {
    width: 10%;
    height: auto;
    border: var(--img-border);
    flex: 1;
}
.reason__images--item:not(:last-child) {
    margin-right: 0.1rem;
}
.reason__heading {
    font-size: 1.8rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
}
.reason__text--faint {
    font-style: italic;
    font-size: var(--font-primary);
    color: var(--text-color-faint);
}
.reason__text {
    font-size: var(--font-primary);
    color: var(--text-color-primary);
    margin: 4rem 0;
    line-height: var(--line-height);
}

/*services section*/
.services {
    padding: 8rem 10rem;
    background-color: var(--bg-color--grey);
}
.services__text, .item--text {
    font-size: var(--font-primary);
    color: var(--text-color-primary);
    text-align: left;
    line-height: var(--line-height);
}
.services__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 8rem;
    margin-top: 5rem;
}
.services__left-info {
    margin-bottom: 2rem;
    padding-left: 1rem;
    position: relative;
}
.services__left-info::before{
    content: '';
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 0.3rem;
    background-color: var(--color-secondary);
}
.services__img {
    width: 100%;
    height: auto;
}
.services__main {
    grid-column: 1 / -1;
}
.services__heading {
    font-size: 1.8rem;
    text-transform: capitalize;
    margin-bottom: 1rem;
}
.services__right--item {
    display: grid;
    grid-template-columns: 6rem 1fr;
    grid-column-gap: 1rem;
}

.services__right--item:not(:last-child) {
    margin-bottom: 5rem;
}
.item--icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background-color: var(--color-secondary);
    font-size: var(--font-primary);
    color: var(--text-color-tertiary);
    grid-row: 1 / span 2;
}
.item--heading {
    font-size: 1.7rem;
    text-transform: capitalize;
    margin-bottom: 1rem;
}
.services__main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 6rem;
}
.item--icon-skew {
    transform: rotate(45deg);
    margin-bottom: 4rem;
}
.skew {
    transform: rotate(-45deg);
}

/* event section */

.events {
    padding: 8rem 0;
}
.events__main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.events__card {
    position: relative;
}
.events__img {
    width: 100%;
    height: auto;
}
.events__top {
    position: absolute;
    top: 2rem;
    left: 2rem;
}
.events__bottom {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
}
.events__top--number, 
.events__bottom--type,
.events__bottom--arrow {
    font-size: 2rem;
    color: var(--bg-color--white);
    text-transform: uppercase;
}
.events__top--number {
    margin-right: 2rem;
}
.events__bottom--type {
    font-size: var(--font-primary);
}
.events__top--country {
    font-size: 2rem;
    padding: 1rem 2rem;
    background-color: var(--color-secondary);
    color: var(--bg-color--white);
}

/*gallery section*/
.gallery {
    padding: 8rem 10rem;
}
.gallery__imgs {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 4rem;
}
.gallery__img {
    width: 100%;
    height: auto;
    border: 1px solid var(--text-color-faint);
    padding: 1.2rem;
}

/*team section*/
.team {
    padding: 8rem 10rem;
    background-image: url('images/tb.jpg');
    background-size: cover;
    background-position: center;
}
.team__imgs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 4rem;
}
.team__detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.team__detail > * {
    margin: 0.5rem;
}
.team__img {
    width: 100%;
    height: auto;
    border-radius: 1px;
}
.team__name {
    font-size: 2rem;
    text-transform: capitalize;
}
.team__title {
    text-transform: capitalize;
    font-size: var(--font-primary);
    color: var(--text-color-tertiary);
}

/*contact section*/
.contact {
    padding: 8rem 10rem;
}
.contact__detail {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.input-group {
    margin-bottom: 2rem;
}
.contact__input:not([type="password"]) {
    padding: 1rem 2rem;
    width: 100%;
    border: 1.5px solid var(--text-color-primary);
}
.contact__input--special {
    padding: 1rem 2rem;
    border: 1.5px solid var(--text-color-primary);
}
label {
    font-size: var(--font-primary);
    color: var(--text-color-primary);
}
::-webkit-input-placeholder {
    font-family: inherit;
    padding-left: 2rem;
}
.input-group--special {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 2rem;
}
.lbpass {
    grid-column: 1 / -1;
}
.input-radio {
    font-size: var(--font-primary);
}
.gender {
    margin-right: 2rem;
}
.contact__radio {
    margin-right: 0.5rem;
}
.contact__icon--img {
    width: 100%;
    height: auto;
    transform: translateY(-5rem);
}

/*subscribe section*/
.subscribe {
    padding: 8rem 15rem;
    background-image: url('images/s5.jpg');
    background-size: cover;
    background-position: center;
}
.subscribe__text {
    font-size: var(--font-primary);
    line-height: var(--line-height);
    color: var(--text-color-tertiary);
    text-align: center;
}
.subscribe__form {
    display: flex;
    justify-content: center;
    margin: 5rem 0;
}
.subscribe__input {
    padding: 1rem 2rem;
    border: none;
    margin-right: 2rem;
    width: 30%;
}
.subscribe__social {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    color: var(--text-color-tertiary);
}
.subscribe__social > * {
    margin-right: 1rem;
}