
/* Global settings */
*, *::before, *::after {
    padding: 0;
    margin: 0;
}
:root {
    --color-secondary: #e65100;
    --text-color-primary: #212121;
    --text-color-secondary: #616161;
    --text-color-faint: #bdbdbd;
    --text-color-tertiary: #ffffff;
    --font-primary: 1.5rem;
    --font-heading: 2.5rem;
    --font-links: 1.3rem;
    --bg-color--dark:#000000; 
    --bg-color--white: #ffffff;
    --img-border: 2px solid #e65100;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/*utilites*/

a:link, a:visited {
    text-decoration: none;
    color: var(--text-color-tertiary);
}
.btn {
    border: none;
    border-radius: 1px;
}
.btn-primary {
    padding: 1rem 5rem;
    background-color: var(--bg-color--dark);
    color: var(--text-color-tertiary);
    border-radius: 1px;
    font-size: var(--font-primary);
    text-transform: uppercase;
}

/*header section*/

.header {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--bg-color--dark);
}
.header__brand {
    font-size: var(--font-heading);
    color: var(--text-color-tertiary);
}
.color-orange {
   color: var(--color-secondary);
   margin-left: 0;
}
.header__links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: var(--font-primary);
    color: var(--text-color-tertiary);
}
.header__link {
    list-style: none;
    font-size: var(--font-links);
    text-transform: uppercase;
    font-weight: 500;
}
.header__link:hover {
    color: var(--color-secondary);
}
.header__link:not(last-child) {
    margin-right: 2rem;
}
.input {
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 2px;
}
.input:focus {
    outline: none;
}
.btn-search {
    padding: 0.8rem 4rem;
    background-color: var(--color-secondary);
    color: var(--text-color-tertiary);
    font-size: var(--font-links);
}

/*carousel section*/

.carousel {
    position: relative;
}
.carousel__img {
    width: 100%;
    height: auto;
}
.carousel__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.carousel__text--primary {
    font-size: 3rem;
    font-weight: 600;
    color: var(--color-secondary);
    text-align: center;
    letter-spacing: 1rem;
    text-transform: uppercase;
}
.carousel__text--secondary {
    font-size: 4rem;
    color: var(--text-color-tertiary);
    letter-spacing: 1rem;
    text-transform: uppercase;
    margin: 4.5rem 0;
}
.carousel__text--tertiary {
    font-size: var(--font-primary);
    color: var(--text-color-tertiary);
    text-align: center;
    margin: 0 2rem;
}
.special {
    padding: 4rem 2rem;
    background-color: var(--color-secondary);
}
.control {
    position: absolute;
    width: 5rem;
    height: 5rem;
    top: 50%;
    transform: translateY(-50%);
    color: var(--text-color-tertiary);
}
.carousel__controls-left {
    left: 2rem;
}
.carousel__controls-right {
    right: 2rem;
}
.carousel__indicators {
    position: absolute;
    bottom: 2rem;
    left: 50%;
}
.indicator {
    display: inline-flex;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: #f5f5f5;
    margin-right: 0.4rem;
}

/* Reason section */

.reason {
    background-color: var(--bg-color--white);
    padding: 5rem 10rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 5rem;
}
.reason__images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.reason__images--big {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
    border: var(--img-border);
}
.reason__images--row {
    display: flex;
    align-items: center;
    width: 100%;
}
.reason__images--item {
    width: 10%;
    height: auto;
    border: var(--img-border);
    flex: 1;
}
.reason__images--item:not(:last-child) {
    margin-right: 0.1rem;
}
.reason__heading {
    font-size: 1.8rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
}
.reason__text--faint {
    font-style: italic;
    font-size: var(--font-primary);
    color: var(--text-color-faint);
}
.reason__text {
    font-size: var(--font-primary);
    color: var(--text-color-primary);
    margin: 4rem 0;
    line-height: 2;
}